.card
{
	font-family: arial;
	color: #FFFFFF;
	overflow: hidden;
}

.card_xs
{
	width: 26px;
	height: 40px;
	border-radius: 3px;
	float: left;
}

.card_sm
{
	width: 65px;
	height: 100px;
	border-radius: 5px;
	font-size: 3px;
	margin: 0 auto 0 auto;
}

.card_lg
{
	width: 390px;
	height: 600px;
	border-radius: 10px;
	font-size: 15px;
	margin: 0 auto 0 auto;
}

.card_overlay
{
	width: 100%;
	height: 100%;
	background-color: rgba(10, 10, 10, 0.8);
}

.card_lg .title
{
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	font-variant: small-caps;
	padding: 5px;
	height: 1.5em;
}

.card_lg .subTitle
{
	font-size: 1em;
	font-style: italic;
	text-align: center;
	margin-top: -1em;
	padding: 5px;
}

.card_lg .gameStats
{
	padding: 5px;
}

.card_lg .attdef
{
	font-size: 2em;
	float: left;
	width: 50%;
}

.card_lg .attdef span
{
	font-size: 1em;
	font-weight: bold;
	line-height: 0.5em;
}

.card_lg .card_statLabel
{
	width: 20%;
	float: left;
	font-size: 0.8em;
}

.card_lg .card_stat
{
	width: 80%;
	float: left;
}

.card_lg .wokeRating
{
	font-size: 5em;
	font-weight: bold;
	float: right;
	margin-top: -0.2em;
	width: 50%;
	text-align: right;
}

.card_lg .details
{
	font-size: 1em;
	height: 65%;
	padding: 5px;
}

.card_lg .otherDetails
{
	font-size: 0.8em;
	padding: 5px;
}

.card_sm .title
{
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
	font-variant: small-caps;
	height: 6em;
	padding: 1em;
}

.card_sm .gameStats
{
	font-size: 2em;
	height: 6em;
	padding: 1em;
}

.card_sm .wokeRating
{
	width: 45%;
	font-size: 3em;
	font-weight: bold;
	float: right;
	text-align: right;
}

.card_sm .attdef
{
	width: 45%;
	font-size: 1.5em;
	float: left;
}

.card_sm .card_statLabel
{
	width: 20%;
	float: left;
	font-size: 0.8em;
	text-align: left;
}

.card_sm .card_stat
{
	width: 70%;
	float: left;
	text-align: right;
}

.card_sm .subTitle, .card_sm .details, .card_sm .otherDetails
{
	display: none;
}

.card_xs_container
{
	width: 100%;
	height: 100%;
	font-size: 3px;
	font-family: arial;
}

.card_xs_container .title
{
	width: 50%;
	height: 3em;
	font-size: 2.5em;
	font-weight: bold;
	text-align: left;
	float: left;
	font-variant: small-caps;
	padding: 2px;
	color: #FFFFFF;
}

.card_xs_container .attdef
{
	width: 65%;
	height: 2em;
	font-size: 3em;
	line-height: 1em;
	margin-top: 0em;
	float: right;
	color: #FFFFFF;
}

.card_xs_container .card_statLabel
{
	width: 20%;
	float: left;
}

.card_xs_container .card_stat
{
	width: 20%;
	float: left;
}

.card_xs .wokeRating
{
	width: 90%;
	height: 100%;
	font-size: 5em;
	font-weight: bold;
	text-align: center;
	margin: 0 auto 0 auto;
}

.card_xs .wokeRating:before, .card_xs .wokeRating:after
{
	content: " ";
	display: block;
	width: 100%;
	height: 30%;
}

.card_xs .wokeRating:after
{
	display: block;
	content: "\25b2";
	font-size: 0.6em;
	text-align: left;
}

.card_xs .ttl
{
	width: 100%;
	font-size: 3.5em;
	font-weight: bold;
	padding-top: 10%;
	text-align: center;
	color: #FF0000;
}

.card_xs .ttl:before
{
	display: block;
	content: "\2620";
	width: 100%;
	height: 60%;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	color: #FF0000;
}