.handSlot
{
	width: 65px;
	height: 100px;
	float: left;
	outline: 1px solid #000000;
	padding: 2px;
	margin: 2px;
}

.handOverlay
{
	width: 100%;
	height: 100%;
	position: relative;
	float: left;
	margin-top: -100px;
	text-align: center;
	font-size: 6em;
	font-weight: bold;
}

.handOverlay:before
{
	width: 100%;
	height: 30%;
	display: block;
	content: "";
}

.deckSlot
{
	width: 100px;
	height: 40px;
	float: left;
	margin-right: 1em;
	margin-bottom: 0.5em;
}

.attackInfoSlot
{
	width: 65px;
	height: 42px;
	float: left;
	padding: 2px;
	margin: 2px;
}

.attackInfoSlot span
{
	display: inline-block;
	margin-top: 25%;
	color: #FF0000;
	margin-left: auto;
	margin-right: auto;
}

.specialText
{
	font-size: 0.8em;
}

.deckSlot_card
{
	width: 75px;
	height: 100%;
	float: left;
}

.deckSlot_card .card
{
	cursor: pointer;
}

.cannotAddToHand .card .card_overlay
{
	background-color: rgba(255, 255, 255, 1);
}

.cannotAddToHand .card .card_overlay .wokeRating:after
{
	display: none;
}

.cannotAddToHand .card
{
	color: #000000;
	cursor: inherit;
}

.btnInfo
{
	width: 10px;
	height: 10px;
	float: right;
	text-align: center;
	font-size: 0.58em;
	font-weight: bold;
	font-family: arial;
	border-radius: 50%;
	border: 1px solid #444444;
	color: #444444;
	cursor: pointer;
}

.btnInfo:hover
{
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

#playerHand .handSlot
{
	cursor: pointer;
}
